from dataclasses import dataclass


@dataclass
class Secrets:
    obs_ip: str = "localhost"
    obs_ws_port: int = 4444
    obs_secret: str = "secret"
    aio_user: str = ""
    aio_key: str = ""


@dataclass
class Sources:
    treatbot_cam_source: str = ""
    treatbot_cam_scene: str = ""
    yay_source: str = ""
    yay_scene: str = ""
