from dataclasses import dataclass


@dataclass
class Secrets:
    obs_ip: str = "localhost"
    obs_ws_port: int = 4444
    obs_secret: str = "secret"
    mqtt_user: str = ""
    mqtt_key: str = ""
    mqtt_server: str = ""
    mqtt_port: int = 0


@dataclass
class Sources:
    treatbot_cam_source: str = ""
    treatbot_cam_scene: str = ""
    yay_source: str = ""
    yay_scene: str = ""


@dataclass
class Settings:
    treatbot_timeout: int = 17
